.wrapper {
    padding: 150px 250px 100px 50px;
    background-color: #fafafa;

    @media (max-width: 900px) {
        padding: 100px 25px 100px 25px;
      }

    .button {
        background-color: transparent;
        border: none;

        margin-bottom: 140px;

        &:hover {
            svg path {
                fill: #AA0202;
            }
        }

        @media (max-width: 1500px) {
            margin-bottom: 80px;
          }

      }

      .title {
        font-size: 220px;
        line-height: 100%;
        margin-left: -20px;
        padding-bottom: 200px;
        color: #1E1F20;

        @media (max-width: 1500px) {
            font-size: 140px;
            margin-left: -10px;
            padding-bottom: 150px;
          }

          @media (max-width: 900px) {
            font-size: 120px;
            padding-bottom: 150px;
          }

          @media (max-width: 500px) {
            font-size: 80px;
            padding-bottom: 100px;
          }
      }

      .subtitle {
        font-size: 28;
        color: #AA0202;

        @media (max-width: 1500px) {
            font-size: 14;

          }

          @media (max-width: 900px) {
            font-size: 20;

          }
      }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 180px;
    row-gap: 200px;

    @media (max-width: 1500px) {
        column-gap: 300px;
      }

      @media (max-width: 1200px) {
        column-gap: 150px;
        row-gap: 100px;
      }

      @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        gap: 50px;
      }
    
}