.projectPage {
    padding: 2rem;
    background: white;
    color: black;
  }
  
  .projectDetail {
    margin-bottom: 2rem;
  
    img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  