.toTheTopButton {
    border: none;
    background-color: transparent;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
    &.visible {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  
    &:hover {
      transform: scale(1.2);

      & svg g path:first-child {
        fill: #EF8903;
      }
    }
  }
  