.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #AA0202; /* Цвет фона */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cookieWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    overflow: hidden;
  }
  
  .cookieHalf {
    width: 100px;
    height: 100px;
    background-color: #d2691e; /* Цвет печенья (пока квадраты) */
    transition: all 0.5s ease;
    cursor: pointer;
  }
  
  .crackedLeft {
    transform: translateX(-100px); /* Левую половинку печенья двигаем влево */
  }
  
  .crackedRight {
    transform: translateX(100px); /* Правую половинку печенья двигаем вправо */
  }
  
  .textBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 16px;
    text-align: center;
  }
  