.wrapper {
    display: block;
  margin: 0 auto;

    @media (max-width: 1024px) {
        width: max-content;
        height: 195px;
    }
}

.animation {
    animation: spin 20s linear infinite;
    transition: animation-duration 0.3s ease-in-out;

    &:hover {
      animation-duration: 10s; 
    }
}

.animation2 {
    animation: spin2 10s linear infinite;
    transition: animation-duration 0.3s ease-in-out;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg); 
    }
  }

  @keyframes spin2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg); 
    }
  }