.header {
    width: 100%;
    padding: 30px 50px;
    height: max-content;
    color: #AA0202;
    font-size: 20px;
    line-height: 100%;
    z-index: 100;
    position: fixed;
    background-color: #fafafa;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    font-family: 'PPMori', sans-serif;  

    @media (max-width: 800px) {
        font-size: 14px;
        padding: 15px 25px;
        display: flex;
        justify-content: space-between;

        .about {
            display: none;
        }
    }

    .links__container {
        display: flex;
        gap: 40px;
        justify-content: end;

        @media (max-width: 800px) {
            gap: 20px;
        }

    }

    .logo {
        font-size: 40px;
        line-height: 100%;
        text-align: center;  
        font-weight: 700;

        @media (max-width: 800px) {
            font-size: 30px;
        }
    }

    .link {
        font-size: 20px;
        line-height: 100%;
        background-color: transparent;
        border: none;
        position: relative;
        text-decoration: none;
        color: inherit;
        display: inline-block;
        padding-bottom: 0; // To prevent underline from sticking to the text

        @media (max-width: 800px) {
            font-size: 18px;

        }
        
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -10px;
          width: 100%;
          height: 11px;  // This is the height of your zigzag, adjust if needed
          background: url("/zigzag.svg") no-repeat;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.4s ease-in-out;

          @media (max-width: 800px) {
            display: none;
        }}
      
        &:hover::after {
          transform: scaleX(1);
        } 
      }
      
      

}
