.imageFull {
    width: 100%;
    height: auto;

    grid-column-start: 1;
    grid-column-end: 3;

    object-fit: contain;
}

.image {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.TextTitleText {
    display: flex;
    flex-direction: column-reverse;

    justify-content: space-between;

    @media (max-width: 900px) {
        gap: 100px;
      }

    &__Text {
        color: #1E1F20;
        font-size: 30px;

        @media (max-width: 1500px) {
            font-size: 24px;
          }
        
          @media (max-width: 1200px) {
            font-size: 20px;
          }

@media (max-width: 1000px) {
            font-size: 18px;
          }

@media (max-width: 900px) {
            font-size: 24px;
          }
    }

    &__MainText {
        color: #1E1F20;
        font-size: 30px;

        @media (max-width: 1500px) {
            font-size: 24px;
          }
          
          @media (max-width: 1200px) {
            font-size: 20px;
          }

@media (max-width: 1000px) {
            font-size: 18px;
          }

@media (max-width: 900px) {
            font-size: 24px;
          }

    }

    &__Title {
        font-size: 32px;
        text-transform: uppercase;
        padding-top: 7px;
        border-top: 2px solid #AA0202;
        margin-bottom: 50px;
        color: #AA0202;

        @media (max-width: 1500px) {
            font-size: 26px;
            margin-bottom: 35px;
          }

          @media (max-width: 1200px) {
            font-size: 20px;
            margin-bottom: 25px;
          }

          @media (max-width: 900px) {
            padding-top: 15px;


          }
    }
}

.TextListText {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    @media (max-width: 900px) {
        gap: 70px;
      }

    &__MainText {
        font-size: 30px;

        @media (max-width: 1500px) {
            font-size: 24px;
          }

          @media (max-width: 1200px) {
            font-size: 20px;
          }

@media (max-width: 1000px) {
            font-size: 18px;
          }

@media (max-width: 900px) {
            font-size: 24px;
          }
    }

    &__Text {
        color: #1E1F20;
        font-size: 30px;
        padding-bottom: 20px;
        @media (max-width: 1500px) {
            font-size: 24px;
          }

          @media (max-width: 1200px) {
            font-size: 20px;
          }
@media (max-width: 900px) {
            font-size: 24px;
          }
    }

    &__List {

        display: flex;
        gap: 16px 10px;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;

        &__Item {
            font-size: 30px;
            width: max-content;
            padding: 5px 15px;
            margin: 0;
            border: 1px solid #AA0202;
            color: #AA0202;
            border-radius: 25px;
            @media (max-width: 1500px) {
                font-size: 24px;
              }

              @media (max-width: 1200px) {
                font-size: 18px;
              }

              @media (max-width: 900px) {
                font-size: 24px;
              }
        }
    }
}

.text {
    color: #1E1F20;
    font-size: 30px;
    @media (max-width: 1500px) {
        font-size: 24px;
      }

      @media (max-width: 1200px) {
        font-size: 18px;
      }

      @media (max-width: 900px) {
        font-size: 24px;
      }
}

.textFlex {
    color: #1E1F20;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1500px) {
        font-size: 24px;
      }

      @media (max-width: 1200px) {
        font-size: 18px;
      }

      @media (max-width: 900px) {
        font-size: 24px;
        gap: 70px;
      }
}

.ImageText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: italic;
    font-size: 18px;

    color: #AA0202;

    @media (max-width: 1200px) {
        font-size: 14px;
      }

      @media (max-width: 900px) {
        font-size: 24px;
      }
}
